.dropdown {
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.dropdown__header {
  width: 100%;
  background-color: #e7e6f7;
  border: none;
  text-align: left;
  padding: 10px;
  font-size: inherit;
}

.dropdown__body ul {
  list-style: none;
  text-align: left;
  background-color: faf9fc;
  margin: 0;
  padding: 0;
}

.dropdown__body li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 6px 10px;
  transition: padding 0.2s ease-in;
}

.dropdown__body li:last-child {
  border-bottom: none;
}

.dropdown__body li:hover {
  padding-left: 16px;
}
